In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [2]:
def get_y_files():
    paths = glob('./dataset/TRAIN/*.csv')
    dfs = []
    for path in paths:
        df = pd.read_csv(path)
        dfs.append(df)
    
    return pd.concat(dfs, ignore_index=True)

def get_x_files():
    paths = glob('./dataset/TRAIN_AWS/*.csv')
    dfs = []
    for path in paths:
        df = pd.read_csv(path)
        dfs.append(df)
    
    return pd.concat(dfs, ignore_index=True)

In [3]:
x = get_x_files()
y = get_y_files()
x_plus = y[['연도', '일시', '측정소']]
x = pd.merge(x, x_plus, on=['연도', '일시'])
y = y['PM2.5']

In [4]:
x.head()

   연도           일시  지점    기온(°C)  풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)  측정소
0   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  이원면
1   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  신흥동
2   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  동문동
3   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  독곶리
4   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  아름동

In [6]:
y.head()

0    0.036
1    0.040
2    0.032
3    0.040
4    0.040
Name: PM2.5, dtype: float64

In [7]:
pd.to_datetime(x['일시'], format='%m-%d %H:%M', errors='coerce')
# data['month'] = data['datetime'].dt.month
# data['day'] = data['datetime'].dt.day
# data['hour'] = data['datetime'].dt.hour
# data['minute'] = data['datetime'].dt.minute

0          1900-01-01 00:00:00
1          1900-01-01 00:00:00
2          1900-01-01 00:00:00
3          1900-01-01 00:00:00
4          1900-01-01 00:00:00
                   ...
17882635   1900-12-31 23:00:00
17882636   1900-12-31 23:00:00
17882637   1900-12-31 23:00:00
17882638   1900-12-31 23:00:00
17882639   1900-12-31 23:00:00
Name: 일시, Length: 17882640, dtype: datetime64[ns]

In [8]:
len(x), len(y)

(17882640, 596088)

In [9]:
x.head()

   연도           일시  지점    기온(°C)  풍향(deg)   풍속(m/s)  강수량(mm)  습도(%)  측정소
0   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  이원면
1   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  신흥동
2   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  동문동
3   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  독곶리
4   0  01-01 00:00  성거  0.157978   0.0125  0.012788      0.0  0.615  아름동

In [10]:
y.head()

0    0.036
1    0.040
2    0.032
3    0.040
4    0.040
Name: PM2.5, dtype: float64

In [11]:
x['지점'].unique()

array(['성거', '홍성죽도', '예산', '홍북', '호도', '서천', '대산', '오월드', '장동', '춘장대',
       '유구', '논산', '옹도', '북격렬비도', '세종고운', '청양', '세천', '양화', '당진', '계룡',
       '세종연서', '세종금남', '공주', '아산', '대천항', '태안', '안도', '정안', '세종전의', '정산'],
      dtype=object)

In [13]:
x = pd.merge(x, x_plus, on=['연도', '일시'])

In [14]:
x['일시']

0            01-01 00:00
1            01-01 00:00
2            01-01 00:00
3            01-01 00:00
4            01-01 00:00
                ...
304004875    12-31 23:00
304004876    12-31 23:00
304004877    12-31 23:00
304004878    12-31 23:00
304004879    12-31 23:00
Name: 일시, Length: 304004880, dtype: object

In [15]:
x.head()

,연도,일시,지점,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),측정소_x,측정소_y
0,0,01-01 00:00,성거,0.157978,0.0125,0.012788,0.0,0.615,이원면,이원면
1,0,01-01 00:00,성거,0.157978,0.0125,0.012788,0.0,0.615,이원면,신흥동
2,0,01-01 00:00,성거,0.157978,0.0125,0.012788,0.0,0.615,이원면,동문동
3,0,01-01 00:00,성거,0.157978,0.0125,0.012788,0.0,0.615,이원면,독곶리
4,0,01-01 00:00,성거,0.157978,0.0125,0.012788,0.0,0.615,이원면,아름동

In [26]:
len(x['측정소'].unique())

17

In [28]:
y['PM2.5'].max()

1.0

In [ ]:
# indepent variables

# year (int): start from 0
# datetime (str): 'MM-DD HH:MM' format
# point (str): categoricla value, 30 unique values
# temp (float): temperature in celsius. range from 0 to 1
# degree (float): wind direction in degree. range from 0 to 1
# speed (float): wind speed in m/s. range from 0 to 1
# rain (float): rain in mm. range from 0 to 1
# humidity (float): relative humidity in %. range from 0 to 1
# station (str): categorical value, 17 unique values, place where the data was collected

# dependent variables

# PM2.5 (float): PM2.5 concentration in ug/m3. range from 0 to 1