In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('./abc.csv')
b = pd.read_csv('./dataset/answer_sample.csv')

In [6]:
b['PM2.5'] = a

In [8]:
b.to_csv('./lb.csv', index=False)

In [5]:
b

       연도           일시  측정소  PM2.5
0       4  01-03 00:00   공주    NaN
1       4  01-03 01:00   공주    NaN
2       4  01-03 02:00   공주    NaN
3       4  01-03 03:00   공주    NaN
4       4  01-03 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[78336 rows x 4 columns]